/* Match manifest background so iOS splash / first paint is not blank */
html {
  background-color: #ffffff;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.navbar-container {
  display: flex;
  border-bottom: solid;
}

.navbar-item {
  text-decoration: none;
  color: black;
  padding: 25px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.navbar-space {
  flex-grow: 2;
}

.navbar-item:hover {
  background-color: rgb(215, 215, 215);
}

.error {
  display: flex;
  justify-content: space-evenly;
  border: rgb(150, 0, 0);
  color: rgb(150, 0, 0);
  background-color: rgb(255, 201, 210);
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border: solid;
  margin: 10px 0 ;
}

.report-container {
  padding: 30px;
}